.general-container{
    margin: auto;
    position: relative;
    
    @media #{$maxSmall} {
       padding: 0 25px !important; 
    }
    
    @media #{$minSmall} {
		width: 750px;
	}
	@media #{$medWidth} {
		width: 970px;
	}
	@media #{$maxWidth} {
		width: 1170px;
	}
}